@import "main";
//different divs to divided between background-color//
.back {
  background-color: $mg;
  width: auto;
}
.backk {
  background-color: $yel;
  width: auto;
}
.backkk {
  background-color: $gr;
  width: auto;
}

.flexbox {
  .criss {
    margin-right: 20px;
    margin-left: 20px;
    height: $cricroImg;
    width: $cricroImg;
  }
  p {
    padding-left: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .med {
    flex-direction: column-reverse;
  }
  .nmed {
    flex-direction: column;
  }
}
