/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=IBM+Plex+Sans+Thai+Looped&family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap");
/*colors*/
/*sizes*/
/*others*/
/*items in all site*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}

p {
  font-family: "Roboto", sans-serif;
}

nav {
  background: -webkit-gradient(linear, right bottom, left top, from(#8cbf3f), to(#9453a6));
  background: linear-gradient(to top left, #8cbf3f, #9453a6);
  font-family: "Henny Penny", cursive;
  font-weight: bold;
  font-size: 1.2rem;
}

nav img {
  height: 60px;
  width: 60px;
}

nav .nav-links,
nav .navbar-brand {
  color: #0d0d0d;
  margin: 8px;
  text-decoration: none;
  padding-left: 50px;
}

nav .nav-links:hover {
  color: #f2f2f2;
  text-decoration: underline;
}

nav .foract {
  color: #f2cc0f;
}

.fot {
  background-color: #0d0d0d;
  position: absolute;
  bottom: -5;
  width: 100vw;
}

.fot footer span {
  font-weight: bold;
  text-decoration: none;
  color: #f2cc0f;
}

.fot footer svg:hover {
  color: #f2f2f2;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.clr {
  clear: both;
}

.center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100vw;
}

h2 {
  text-align: center;
  font-family: "Henny Penny", cursive;
  color: #0d0d0d;
  font-size: 36px;
}

.flexbox {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #0d0d0d;
  padding: 20px, 20px, 0, 20px;
}

.flexbox img {
  margin-right: 20px;
  margin-left: 20px;
}

.flexbox .gridbox {
  display: -ms-grid;
  display: grid;
  font-family: "Roboto", sans-serif;
}

.flexbox .gridbox p {
  text-align: left;
  padding: 0, 20px;
  font-size: 16px;
}

section {
  position: relative;
}

section img {
  width: 100vw;
  height: 65vh;
}

section .forpos {
  position: absolute;
  top: 50%;
  left: 38%;
  color: #8cbf3f;
  text-align: center;
}

section .forpos h2 {
  font-family: "Henny Penny", cursive;
  font-weight: bold;
  color: #8cbf3f;
}

section .forpos p {
  font-size: 16px;
}

/*responsive*/
@media only screen and (max-width: 768px) {
  .flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexbox p {
    padding-top: 8px;
    padding-left: 10px;
  }
  section .forpos {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

/* End of items in all site*/
.back {
  background-color: #9453a6;
  width: auto;
}

.backk {
  background-color: #f2cc0f;
  width: auto;
}

.backkk {
  background-color: #8cbf3f;
  width: auto;
}

.flexbox .criss {
  margin-right: 20px;
  margin-left: 20px;
  height: 250px;
  width: 250px;
}

.flexbox p {
  padding-left: 20px;
}

@media only screen and (max-width: 768px) {
  .med {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .nmed {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=about.css.map */